.scorecards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .scorecard {
      border: 1px solid blue;
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
  }